@import '../../sass/vars'

.schedule
  position: relative
  width: 750px
  height: 367px
  display: block
  background: url("../../img/schedule.png")
  margin-bottom: 30px
  & .schedule__value
    position: absolute
    left: 50%
    top: 43%
    margin-left: -75px
    font-family: $base-ff
    font-size: 46px
    color: $success


