$primary: #1698d9
$secondary: #b3b3b3
$accent: #d91667
$background: #f2f2f2
$danger: #e90e3f
$warning: #ff6
$success: #5cb85c
$info: #9dd6fd
$text-base: #000
$text-secondary: #666
$text-secondary-light: #cdbaa6

$base-ff: Robobto, Arial, sans-serif
$base-margin: 20px
$base-transition: all 0.4s ease
$base-border-radius: 4px
$base-border-width: 1px
$base-border-color: $background
$base-border-type: solid
$base-border: $base-border-width base-border-type base-border-color
