$primary: #1b283e
$secondary: #b3b3b3
$accent: #c14275
$background: #112135
$danger: #e90e3f
$warning: #ff6
$success: #78a659
$info: #9dd6fd
$text: #546076
$text-secondary: #fff

$base-ff: "Robobto", sans-serif
$base-transition: all 0.4s ease
