@import '../../sass/vars'

.bot_list
  display: flex
  flex-wrap: wrap
  padding: 0 30px 32px
  margin: 0
  overflow: hidden

.bot
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 30px 30px 25px
  width: 228px
  height: 210px
  margin: 1px
  background: $primary
  list-style: none

  & .bot__icon
    width: 90px
    height: 70px
    margin-bottom: 20px
    &.bot__icon--blue_bot
      background: url("../../img/bot_blue.png")
    &.bot__icon--red_bot
      background: url("../../img/bot_red.png")
    &.bot__icon--orange_bot
      background: url("../../img/bot_orange.png")
    &.bot__icon--green_bot
      background: url("../../img/bot_green.png")
    &.bot__icon--yellow_bot
      background: url("../../img/bot_mega.png")
      height: 90px
    &.bot__icon--white_bot
      background: url("../../img/bot_dark.png")

  & .bot__name
    margin-bottom: 10px
    font-size: 20px
    text-transform: uppercase
    font-weight: bold
    color: white
    font-family: $base-ff

  & .bot__value
    font-size: 20px
    font-weight: bold
    font-family: $base-ff
    &.bot__value--less
      color: $accent
    &.bot__value--more
      color: $success

